html {
  background-image: url("Images/signupbg.jpg");
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center; }

.LoginForm {
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 400px;
  height: 450px;
  border: 5px solid #333;
    border-radius: 5px;
  background-color: #ffcc00; }
  .LoginForm i.back {
    font-size: 24px;
    position: absolute;
    color: #333;
    top: 10px;
    left: 10px;
    -webkit-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out; }
    .LoginForm i.back:hover {
      cursor: pointer;
      -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
      transform: scale(1.2); }
  .LoginForm h1 {
    top: 10px;
    position: absolute; }
  .LoginForm h3 {
    margin-right: 150px;
    text-align: left; }
  .LoginForm .FirstPart {
    width: 400px;
    display: inline-block; }
    .LoginForm .FirstPart p {
      margin: 5px 0 -10px 0;
      line-height: auto; }
    .LoginForm .FirstPart .Error {
      line-height: 0em;
      display: nonde;
      color: red;
      font-weight: 700; }
    .LoginForm .FirstPart input {
      font-size: 14px;
      font-family: 'Oswald';
      width: calc(100% - 50px);
      margin: 10px 0;
      padding: 5px; }
  .LoginForm i.NextPointer {
    -webkit-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
    pointer-events: none;
    position: absolute;
    bottom: 18px;
    right: 23px;
    font-size: 20px; }
  .LoginForm button {
    line-height: 20px;
    color: #333;
    padding-right: 30px;
    font-family: 'Oswald';
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    bottom: 20px;
    right: 10px;
    border: none;
    background: none; }
    .LoginForm button:hover {
      cursor: pointer; }
    .LoginForm button:hover ~ i.NextPointer {
      -webkit-transform: translate(5px);
      -ms-transform: translate(5px);
      transform: translate(5px); }
  .LoginForm .ForgotPass {
    position: absolute;
    bottom: 20px;
    left: 20px; }
